/* index.html以外全てのhtmlに適用するCSS */

@charset "UTF-8";

html {
  font:62.5%/1.4 "Yu Gothic",游ゴシック,YuGothic,游ゴシック体,Meiryo,メイリオ,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif;
  background: white;
}

/* 下記レスポンシブデザインのためのCSSコード */
/* スマートフォンなど向けのサイズ */
@media screen and (max-width:548px){

  nav>a {
    display: none;
  }

  img {
    width: 100%;
  }

  /*----------------------------
  * メニュー開閉ボタン
  *----------------------------*/
.menu-btn {
    position: fixed;
    top: 17px;
    right: 17px;
    z-index: 14;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    box-sizing: border-box;
    padding:6px 10px;
  }

.menu-btn div {
  font-size: 1.1rem;
  font-weight: bold;
  }

  /*----------------------------
  * メニュー本体
  *----------------------------*/
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 13;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222222;
    font-size: 3rem;
  }

  .menu__item {
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    font-size: 3rem;
  }

  .menu__item:hover {
    color: #999999;
  }

  .border {
    border:1px solid white;
    width: 250px;
  }

  /*----------------------------
  * アニメーション部分
  *----------------------------*/

  /* アニメーション前のメニューの状態 */
  .menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .menu.is-active{
    transform: translateX(0);
  }
}

@media screen and (min-width:549px) and (max-width:840px) {

  .titlebar {
    margin: 0 auto;
  }

  nav>a {
    width:100%;
  }

  img {
    width: 100%;
  }

  .menu-btn, .menu {
    display: none;
  }

  /* navのためのCSS---------------------------------------- */

  nav {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  nav a {
    background:#333;
    color:white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:nth-child(-n+3) {
    border-right: 2px solid #a0a0a0;
  }

  nav a:hover {
    background:#808080;
    transition-duration: 0.3s;
  }
}


/* PC向けのサイズ */
@media screen and (min-width:841px) {

  body {
    max-width: 1400px;
    margin:0 auto;
  }

  nav>a {
    width:25%;
  }
  .menu-btn, .menu {
    display: none;
  }
  /* navのためのCSS---------------------------------------- */

  nav {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    text-align: center;
    margin-bottom: 0.2rem;
  }

  nav a {
    background:#333;
    color:white;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
  }

  nav a:nth-child(-n+3) {
    border-right: 2px solid #a0a0a0;
  }

  nav a:hover {
    background:#808080;
    transition-duration: 0.3s;
  }
}

/* 上記までレスポンシブデザインのためのCSSコード */


.wrapper {
  background: #c0c0c0;
  width: 100%;
}

header {
  background: linear-gradient(to right, #7a7a7a, #c0c0c0, #c0c0c0);
  margin-bottom:0.2rem;
}

.meglogtop {
  font-size: 4rem;
  font-weight: bolder;
  padding-left: 1rem;
  color:white;
}

.titlebar {
  height: 3rem;
  line-height: 3rem;
  background-color: #000000;
  color:#ffffff;
  margin-bottom: 0.2rem;
}

.titlebar a {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
}
#box a {
  width:20%;
  height: 8rem;
  line-height: 8rem;
  border:1px solid white;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size:2rem;
  font-weight: bold;
  background: gray;
}
/* hover共通CSSコード（英⇨日本語）------------------------------ */

a .hover {
  display: none;
  font-size: 1.8rem;
}

a:hover .normal {
  display: none;
}

a:hover .hover {
  display: inline;
}

.contents {
  border:5px solid gray;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* 記事一覧用CSS------------------------------ */

.arti_box {
  width: 95%;
  background: #ffffff;
  display: flex;
  margin:0 auto;
  margin-bottom: 3rem;
  border:1px solid gray;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.flex {
  display:flex;
}

.arti_cont {
  font-size:1.5rem;
  font-weight: normal;
}

.arti_box img {
  width:25%;
  margin-right: 2rem;
  border-radius: 5px 0px 0px 5px;
}

.arti_box:hover {
  background: #7b68ee;
  color: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform:scale(1.02);
  transition-duration: 0.3s;
}


/* テキストの指定------------------------------ */

h1 {
  font-size: 2rem;
  margin-top:10px;
  color:black;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color:white;
}

.black{
  font-size:1.4rem;
  color:black;
}

.red {
  color:red;
}

ul {
  font-size: 1.8rem;
}

hr {
  border:2px solid gray;
  margin-bottom: 2rem;
}

/* 記事一覧下部ページ移動-------------------------------------- */

table{
  margin:0 auto;
  margin-bottom: 15px;
  font-size: 2rem;
}

table a{
  color:black;
  /* margin-left: 5px;
  margin-right: 5px; */
}

td{
  border:2px solid black;
  background:white;
  width: 50px;
  text-align: center;
}

td > a {
  display: block;
  height:100%;
  width:100%;
}

#now_page,#now_page a{
  background: #7b68ee;
  color:white;
}

td:hover,table a:hover {
  color:white;
  background: #7b68ee;
}


/* 記事一覧下部ページ移動-------------------------------------- */

/* footer-------------------------------------------------- */

footer {
  height: 13rem;
  text-align: center;
  background-color: #333;
  padding-top: 1rem;
  color:#FFFFFF;
}

/* 入力フォーム用CSS-------------------------------------------  */

input[type="text"],input[type="email"] {
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}

select {
  border: solid 1px #aaa;
  border-radius:5px;
  padding:5px;
  font-size: 15px;
}z

textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px;
  height: 140px;
  font-size: 15px;
  ;width: 80%;
}

input[type="radio"] {
  font-size: 15rem;
}

input[type="submit"]{
  background: #e0505c;
  border:none;
  border-bottom:4px solid #880000;
  border-radius: 5px;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}
input[type="reset"]{
  background: #aaa;
  border: none;
  border-bottom: 4px solid gray;
  border-radius: 5px;
  color: white;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
}

input[type="submit"]:hover,input[type="reset"]:hover {
  border-bottom-width: 0;
  transform: translateY(4px);
  cursor:pointer;
}
